node_modules
.pnpm-store
.env
.env.*.local
**/.env
**/.env.local
**/.next
**/dist
**/coverage
**/*.tsbuildinfo
**/.turbo
.turbo
packages/shared-types/src/*.d.ts
packages/shared-types/src/*.d.ts.map
packages/shared-types/src/*.js
packages/shared-types/src/*.js.map
.DS_Store
